<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MinHang_IOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>29145C7253369E40E82B2D7FE6675B7E211CA99B</string>
				<key>dateExpires</key>
				<string>14/10/2018</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7A5K69VZRP.NowUI.MinHang-IOS</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7A5K69VZRP</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>7A5K69VZRP.NowUI.MinHang-IOS</string>
				</array>
			</dict>
			<key>name</key>
			<string>MinHang_IOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>19514fd0-bfa1-40ea-994f-5b4caba26cf7</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: NowUI.MinHang-IOS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7A5K69VZRP</string>
				<key>name</key>
				<string>Yongqiang Zhong</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
